{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>API REST - MK SOLUTIONS</title>
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
</head>
<body>
    <div class="div1">
        <img src="{% static 'images/unnamed.png' %}"/>
        <h1>API REST - MK SOLUTIONS/RD STATION</h1>
        <h2>Leads atualizadas com sucesso</h2>
        <button name="button1" type="submit" onclick="location.href='{% url 'admin:index' %}'"
        >Visualizar Leads</button>
        <button name="button2" type="submit" onclick="location.href='{% url 'index' %}'"
        >Voltar</button>
    </div>

</body>
</html>